<h3 class="my-2">Projects</h3>
<div class="row">
  <div class="col-8 mx-auto">
    <div class="form-group form-row">
      <label for="drpSearchBy" class="col-form-label col-3">Search:</label>
      <div class="col-9">
        <select
          class="form-control"
          id="drpSearchBy"
          name="searchBy"
          [(ngModel)]="searchBy"
        >
          <option value="ProjectId">Project Id</option>
          <option value="ProjectName">Project Name</option>
          <option value="DateOfStart">Date of Start</option>
          <option value="TeamSize">Team Size</option>
        </select>
      </div>
    </div>
    <div class="form-group form-row">
      <label for="textSearchText" class="col-form-label col-3">
        Search text:
      </label>
      <div class="col-9">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="textSearchText"
            [(ngModel)]="searchText"
          />
          <div class="input-group-append" (click)="onSearchClick()">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 mx-auto">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newModal">
      Create Project
    </button>
  </div>
  <div class="col-8 mx-auto my-2">
    <table class="table">
      <thead>
        <th>Project Id</th>
        <th>Proejct Name</th>
        <th>Data of Start</th>
        <th>Team Size</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of Projects; let i = index">
          <td>{{ project.ProjectId }}</td>
          <td>{{ project.ProjectName }}</td>
          <td>{{ project.DateOfStart }}</td>
          <td>{{ project.TeamSize }}</td>
          <td>
            <button
              class="btn btn-warning"
              data-toggle="modal"
              data-target="#editModal"
              (click)="onEditClick($event, i)"
              data-target="#editModal"
            >
              Edit
            </button>
            <button
              class="btn btn-danger m-1"
              data-toggle="modal"
              data-target="#deleteModal"
              (click)="onDeleteClick($event, i)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Project</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label id="txtNewProjectId" class="col-sm-4 col-form-label">
              Project Id
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewProjectId"
                style="width: 100px;"
                class="form-control"
                placeholder="Project Id"
                name="Project Id"
                [(ngModel)]="newProject.ProjectId"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtNewProjectName" class="col-sm-4 col-form-label">
              Project Name
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtNewProjectName"
                class="form-control"
                placeholder="Project Name"
                name="Project Name"
                [(ngModel)]="newProject.ProjectName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtNewStartOfDate" class="col-sm-4 col-form-label">
              Start of Date
            </label>
            <div class="col-sm-8">
              <input
                type="date"
                id="txtNewStartOfDate"
                style="width: 150px;"
                class="form-control"
                placeholder="Start of Date"
                name="Start of Date"
                [(ngModel)]="newProject.DateOfStart"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtNewTeamSize" class="col-sm-4 col-form-label">
              Team Size
            </label>
            <div class="col-sm-8">
              <input
                type="number"
                id="txtNewTeamSize"
                style="width: 150px;"
                [(ngModel)]="newProject.TeamSize"
                class="form-control"
                placeholder="Team Size"
                name="Team Size"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onSaveClick()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!---edit -->
<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Project</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label id="txtEditProjectId" class="col-sm-4 col-form-label">
              Project Id
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectId"
                style="width: 100px;"
                class="form-control-plain-text"
                placeholder="Project Id"
                name="Project Id"
                [(ngModel)]="editProject.ProjectId"
                disabled="disabled"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtEditProjectName" class="col-sm-4 col-form-label">
              Project Name
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtEditProjectName"
                class="form-control"
                placeholder="Project Name"
                name="Project Name"
                [(ngModel)]="editProject.ProjectName"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtEditStartOfDate" class="col-sm-4 col-form-label">
              Start of Date
            </label>
            <div class="col-sm-8">
              <input
                type="date"
                id="txtEditStartOfDate"
                style="width: 150px;"
                class="form-control"
                placeholder="Start of Date"
                name="Start of Date"
                [(ngModel)]="editProject.DateOfStart"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtEditTeamSize" class="col-sm-4 col-form-label">
              Team Size
            </label>
            <div class="col-sm-8">
              <input
                type="number"
                id="txtEditTeamSize"
                style="width: 150px;"
                [(ngModel)]="editProject.TeamSize"
                class="form-control"
                placeholder="Team Size"
                name="Team Size"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onUpdateClick()"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!---delete -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Project</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-warning">Are you want to delete project</p>
          <div class="form-group row">
            <label id="txtdeleteProjectId" class="col-sm-4 col-form-label">
              Project Id
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtdeleteProjectId"
                style="width: 100px;"
                class="form-control-plain-text"
                placeholder="Project Id"
                name="Project Id"
                [(ngModel)]="deleteProject.ProjectId"
                disabled="disabled"
              />
            </div>
          </div>
          <div class="form-group row">
            <label id="txtdeleteProjectName" class="col-sm-4 col-form-label">
              Project Name
            </label>
            <div class="col-sm-8">
              <input
                type="text"
                id="txtdeleteProjectName"
                class="form-control"
                placeholder="Project Name"
                name="Project Name"
                [(ngModel)]="deleteProject.ProjectName"
                disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="onDeleteConfirm()"
          >
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
